<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 d-flex flex-row">
        <div class="col p-3">
            <div class="card">
                <div class="card-body">
                    <img src="https://sm.mashable.com/t/mashable_in/photo/default/185fd7c49bf8a6f803c004e652e3071de1bb161c_5cpn.960.jpg" alt="" width="70%" class="d-block mx-auto p-3">
                    <p class="float-start">Model:LG G8X <br>Brand:LG
                    </p>
                    <button class="btn btn-secondary float-end mt-2" data-bs-target="#mdl" data-bs-toggle="modal">Show Modal</button>
                    <div class="modal fade" id="mdl" data-bs-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Welcome
                                    <button class="btn btn-danger" data-bs-dismiss="modal">X</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img src="https://sm.mashable.com/t/mashable_in/photo/default/185fd7c49bf8a6f803c004e652e3071de1bb161c_5cpn.960.jpg" alt="" width="100%">
                                        </div>
                                        <div class="col-sm-7">
                                            <p class="d-flex justify-content-center">Brand:LG <br> Model:LG G8X <br> Camera:16px
                                                <br>Price:20000Rs</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-info">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card">
                <div class="card-body">
                    <img src="https://sm.mashable.com/t/mashable_in/photo/default/185fd7c49bf8a6f803c004e652e3071de1bb161c_5cpn.960.jpg" alt="" width="70%" class="d-block mx-auto p-3">
                    <p class="float-start">Model:LG G8X <br>Brand:LG
                    </p>
                    <button class="btn btn-secondary float-end mt-2" data-bs-target="#mdl" data-bs-toggle="modal">Show Modal</button>
                    <div class="modal fade" id="mdl" data-bs-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Welcome
                                    <button class="btn btn-danger" data-bs-dismiss="modal">X</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img src="https://sm.mashable.com/t/mashable_in/photo/default/185fd7c49bf8a6f803c004e652e3071de1bb161c_5cpn.960.jpg" alt="" width="100%">
                                        </div>
                                        <div class="col-sm-7">
                                            <p class="d-flex justify-content-center">Brand:LG <br> Model:LG G8X <br> Camera:16px
                                                <br>Price:20000Rs</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-info">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card">
                <div class="card-body">
                    <img src="https://sm.mashable.com/t/mashable_in/photo/default/185fd7c49bf8a6f803c004e652e3071de1bb161c_5cpn.960.jpg" alt="" width="70%" class="d-block mx-auto p-3">
                    <p class="float-start">Model:LG G8X <br>Brand:LG
                    </p>
                    <button class="btn btn-secondary float-end mt-2" data-bs-target="#mdl" data-bs-toggle="modal">Show Modal</button>
                    <div class="modal fade" id="mdl" data-bs-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Welcome
                                    <button class="btn btn-danger" data-bs-dismiss="modal">X</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img src="https://sm.mashable.com/t/mashable_in/photo/default/185fd7c49bf8a6f803c004e652e3071de1bb161c_5cpn.960.jpg" alt="" width="100%">
                                        </div>
                                        <div class="col-sm-7">
                                            <p class="d-flex justify-content-center">Brand:LG <br> Model:LG G8X <br> Camera:16px
                                                <br>Price:20000Rs</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-info">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card">
                <div class="card-body">
                    <img src="https://sm.mashable.com/t/mashable_in/photo/default/185fd7c49bf8a6f803c004e652e3071de1bb161c_5cpn.960.jpg" alt="" width="70%" class="d-block mx-auto p-3">
                    <p class="float-start">Model:LG G8X <br>Brand:LG
                    </p>
                    <button class="btn btn-secondary float-end mt-2" data-bs-target="#mdl" data-bs-toggle="modal">Show Modal</button>
                    <div class="modal fade" id="mdl" data-bs-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Welcome
                                    <button class="btn btn-danger" data-bs-dismiss="modal">X</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img src="https://sm.mashable.com/t/mashable_in/photo/default/185fd7c49bf8a6f803c004e652e3071de1bb161c_5cpn.960.jpg" alt="" width="100%">
                                        </div>
                                        <div class="col-sm-7">
                                            <p class="d-flex justify-content-center">Brand:LG <br> Model:LG G8X <br> Camera:16px
                                                <br>Price:20000Rs</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-info">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card">
                <div class="card-body">
                    <img src="https://sm.mashable.com/t/mashable_in/photo/default/185fd7c49bf8a6f803c004e652e3071de1bb161c_5cpn.960.jpg" alt="" width="70%" class="d-block mx-auto p-3">
                    <p class="float-start">Model:LG G8X <br>Brand:LG
                    </p>
                    <button class="btn btn-secondary float-end mt-2" data-bs-target="#mdl" data-bs-toggle="modal">Show Modal</button>
                    <div class="modal fade" id="mdl" data-bs-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Welcome
                                    <button class="btn btn-danger" data-bs-dismiss="modal">X</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img src="https://sm.mashable.com/t/mashable_in/photo/default/185fd7c49bf8a6f803c004e652e3071de1bb161c_5cpn.960.jpg" alt="" width="100%">
                                        </div>
                                        <div class="col-sm-7">
                                            <p class="d-flex justify-content-center">Brand:LG <br> Model:LG G8X <br> Camera:16px
                                                <br>Price:20000Rs</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-info">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-3">
            <div class="card">
                <div class="card-body">
                    <img src="https://sm.mashable.com/t/mashable_in/photo/default/185fd7c49bf8a6f803c004e652e3071de1bb161c_5cpn.960.jpg" alt="" width="70%" class="d-block mx-auto p-3">
                    <p class="float-start">Model:LG G8X <br>Brand:LG
                    </p>
                    <button class="btn btn-secondary float-end mt-2" data-bs-target="#mdl" data-bs-toggle="modal">Show Modal</button>
                    <div class="modal fade" id="mdl" data-bs-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Welcome
                                    <button class="btn btn-danger" data-bs-dismiss="modal">X</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img src="https://sm.mashable.com/t/mashable_in/photo/default/185fd7c49bf8a6f803c004e652e3071de1bb161c_5cpn.960.jpg" alt="" width="100%">
                                        </div>
                                        <div class="col-sm-7">
                                            <p class="d-flex justify-content-center">Brand:LG <br> Model:LG G8X <br> Camera:16px
                                                <br>Price:20000Rs</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-info">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>